/*  */

.mapa{
    /* margin:0px 10px 10px 0px; */
    /* margin-left: 250px; */
    /* margin-bottom:15px ; */
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
    width: 100%;
}

.mapa iframe{
    margin: 5px auto;
    display: block;
}

