@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    color: #514B64;
    min-height: 100vh;
    font-family: 'Lato', sans-serif
}


/* --------------------------------------- formulario--------------------------------- */
h1 {
    margin-bottom: 40px
}

label {
    color: blue
}

.btn-send {
    font-weight: 300px;
    text-transform: uppercase;
    /* letter-spacing: 0.2em; */
    width: 80%;
    margin-left: 3px

}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

/* .card {
    margin-left: 10px;
    margin-right: 10px;
    
    
}
.row{
    margin-bottom: 20px;
    
} */


/* --------------------------------------- footer--------------------------------- */

.ftco-footer-social  li {
	list-style: none;
	margin: 0 10px 0 0;
	display: inline-block;
}
.ftco-footer-social  li a {
	height: 40px;
	width: 40px;
	display: block;
	background: rgba(black, .05);
	border-radius: 50%;
	position: relative;
}
.ftco-footer-social  a span {
    position: absolute;
	font-size: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ftco-footer-social li a:hover {
	color: white;
}
		
.footer-07{
	background: #121212;
}

.footer-07 a{
    color: #007bff;
}
.footer-07 p{
    color: rgba(255,255,255,.3);
}
.footer-heading{
		font-size: 30px;
		color: white;
		font-weight: 700px;
		margin-bottom: 30px;
        margin-top: 30px;
}

.footer-heading .logo{
	color: white;
    
}
	
.menu{
		margin-bottom: 30px;
}
.menu a{
    color: rgba(255,255,255,.6);
	margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 1px;
}
	
.ftco-footer-social li a{
	background: transparent;
	border: 1px solid #007bff;	
}





