*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.servicios{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width:100%;
    flex-direction: row;
    margin: 5px auto;
    height: 20%;
}

.servicios article h2{
    width: 100%;
    font-size: 19px;
    text-align: center;
    background-color: green;
    color: whitex;
}
.servicios article{
    width:100%;
    display:flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 1 40%;
    background-color: turquoise;
    border: 1px solid black;
    height:20%;
    margin: 5px auto;
    box-shadow: 0 0 5px 1px black;
}

/* .servicios article:hover{
    border: 2px solid rgb(29, 16, 211);
} */

article img{
    object-fit:cover;
    width: 100%;
    max-height: 300px;
    object-position: center;
    aling-
    /* height:  50vh auto;+ */
}